:root {
  --dark: hsl(0, 0%, 20.8%);
  --light: hsl(0, 29%, 97%);
  --accent: hsl(14.7, 74%, 54.7%);
  --other: hsl(191.6, 34.9%, 50.6%);
  --last: hsl(106.6, 30.4%, 49%);

  --transition: all 0.2s ease-in-out;
  --accent-50: hsl(14.7, 74%, 40%);
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background: var(--light);
  color: var(--dark);
  display: none;
}
body.loaded {
  display: block;
}
.title,
.subtitle {
  color: var(--dark);
}
.hero {
  padding-top: 10em;
}

a.link {
  color: var(--accent);
  transition: var(--transition);
  position: relative;
  font-weight: 600;
}

a.link:hover {
  color: var(--accent-50);
  cursor: pointer;
}

a.link:before,
a.link:after {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 10px;
  height: 8px;
  margin: 5px 0 0;
  transition: var(--transition);
  opacity: 0;
  background-color: var(--other);
  left: 0;
}

a.link:hover:before,
a.link:hover:after {
  width: 100%;
  opacity: 1;
}

.icons {
  display: flex;
}

.icons a {
  color: var(--accent);
}

.icons i {
  font-size: 2em;
  padding-right: 1em;
}

.icons i:hover {
  cursor: pointer;
  color: var(--other);
  transition: all 0.2s;
}
