<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ page.title }}</title>
    <meta name="keywords" content="willy,ovalle,wovalle,personal,site" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:image" content="https://willy.im/assets/android-chrome-512x512.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-32x32.png" />
    <link rel="manifest" href="assets/site.webmanifest" />
    <script src="https://kit.fontawesome.com/d2d233f60d.js" crossorigin="anonymous"></script>
    <link href="/assets/main.css" rel="stylesheet" type="text/css" />
    {% seo %}
  </head>
  <body>
    {{ content }}
    <script src="index.js"></script>
  </body>
</html>
